#include "resource.h"
#include <windows.h>
IDI_BLOG_ICON ICON "ftp_icon_final.ico"

IDR_MENU1 MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Abrir &ZIP...para subir Blog", IDM_FILE_OPEN_ZIP
        MENUITEM SEPARATOR
        MENUITEM "Descargar blog en &ZIP...", IDM_FILE_DOWNLOAD_ZIP
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_FILE_EXIT
    END
    POPUP "&Config"
    BEGIN
        MENUITEM "&Configuracion...", IDM_CONFIG_SETTINGS
    END
    POPUP "&Info"
    BEGIN
        MENUITEM "&Acerca de...", IDM_HELP_ABOUT
    END
END

IDD_ABOUT DIALOGEX 0, 0, 225, 225
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Acerca de"
FONT 8, "MS Sans Serif"
BEGIN
    ICON            IDI_BLOG_ICON, IDC_STATIC, 102,110,20,20
    LTEXT           "Subida de archivos al Personal_BLOG 1.0",IDC_STATIC,10,10,205,20
    LTEXT           "By Sergi Serrano Perez , WeBlackbug 1989 - 2025",IDC_STATIC,10,40,205,20
    LTEXT           "( Canovelles - Granollers )",IDC_STATIC,10,70,205,20
    DEFPUSHBUTTON   "OK",IDOK,87,200,50,14
END

IDD_SETTINGS DIALOGEX 0, 0, 250, 200
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configuración"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Host:", IDC_STATIC, 10, 10, 40, 10
    EDITTEXT IDC_EDIT_HOST, 60, 10, 180, 12, ES_AUTOHSCROLL
    LTEXT "Usuario:", IDC_STATIC, 10, 30, 50, 10
    EDITTEXT IDC_EDIT_USER, 60, 30, 180, 12, ES_AUTOHSCROLL
    LTEXT "Contraseña:", IDC_STATIC, 10, 50, 60, 10
    EDITTEXT IDC_EDIT_PASS, 60, 50, 180, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL "Mostrar", IDC_CHECK_SHOW_PASS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 60, 70, 80, 10
    LTEXT "Directorio local:", IDC_STATIC, 10, 90, 80, 10
    EDITTEXT IDC_EDIT_DIR, 100, 90, 140, 12, ES_AUTOHSCROLL
    LTEXT "Directorio remoto:", IDC_STATIC, 10, 110, 80, 10
    EDITTEXT IDC_EDIT_REMOTE_DIR, 100, 110, 140, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 70, 150, 50, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 130, 150, 50, 14
END
